<div ng-app ng-controller="Ctrl">
    <ul>
    <li *ngFor="let reason of reasons?.reasons">
        {{ reason }}
    </li>
    </ul>
    <ul>
    <li>BHHC allows me to work in web development</li>
    <li>BHHC is has an office in Sacramento</li>
    <li>BHHC is a company that is driven by excellence and has a prestigious reputation</li>
    <li>BHHC is an environment that fosters success and plays a vital role in worker's comp</li>
    <li>At BHHC the projects I work on will affect people and create a positive impact on people in need</li>
    </ul>
</div>
