<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Berkshire Hathaway Homestate Companies</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Software Engineer I Candidate</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#why">Why BHHC?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#add">Something missing?</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Hello my name is Tyeler Bridges</h1>
      <p class="lead">I am a recent college graduate with a desire to work in a rewarding company as a web developer</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
          <p class="lead">This is a website designed to showcase why I would like to work as a software engineer for BHHC. This website features:</p>
          <ul>
            <li>A full display of my reasons for seeking employment with BHHC.</li>
            <li>A page to add to the increasing list of reasons to work for this great company.</li>
            <li>A show of my commitment and tools I bring to the table as a developer.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="why" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Why Berkshire Hathaway Homestate Companies?</h2>
         <app-list></app-list>
        </div>
      </div>
    </div>
  </section>

  <section id="add">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Add more reasons</h2>
          <p class="lead">Since I'm sure there are a myriad of other reasons that will be talked about that maybe were not mentioned before,
I have reserved this space to add reasons as they come up to my database of reasons.</p>
          <form>
            <div class="form-group">
              <label for="NewReason">Type in another great reason to work at BHHC</label>
              <input type="string" class="form-control" id="NewReason" aria-describedby="emailHelp" placeholder="Enter Reason">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Thank you for this opportunity!</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
